/**
 * ========================================
 * GENERAL STYLES
 * ========================================
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: 'IranSans', 'sans-serif';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    font-family: "Times New Roman";
    color: inherit;
    font-size: 12px;
}

ol, ul {
    list-style: none;
}

.no_padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no_margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

a,a:focus, button, input:focus, a:hover, button:focus, .btn:focus, .btn.focus {
    outline: 0 !important;
    text-decoration: none;
    box-shadow: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input, textarea, a, i,button {
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
    transition: all ease-in .4s;
}

.form-control:focus {
    background-color: transparent;
    box-shadow: none !important;
    border-color: inherit;
}

input:invalid {
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: initial;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
select {
    cursor: pointer;
}

/**
 * ========================================
 * MAIN LAYOUT
 * ========================================
 */
.main{
    position: relative;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /*background:#ece9e9;*/
}
#paper{
    background-color: #fff;
    cursor:grab;
}
#paper:active{
    cursor: grabbing;
}
.del-icon:hover{
    -webkit-transition: all ease-in .4s;
    -moz-transition: all ease-in .4s;
    transition: all ease-in .4s;
    font-size: 20px;
}

.paper-scroller{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    overflow: scroll;
    cursor: grabbing;
    box-sizing: border-box;
    visibility:visible;
}

.snaplines{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
.snaplines > .snapline {
    position: absolute;
    pointer-events: none;
    opacity: 1
}
.snapline.horizontal {
    border-bottom: 1px solid #2ecc71;
    width: 100%;
}

.snapline.vertical {
    height: 100%;
    border-right: 1px solid #2ecc71;
}


.paper-scroller .snaplines > .snapline.horizontal {
    width: 700%;
    left: -300%
}

.paper-scroller .snaplines > .snapline.vertical {
    height: 700%;
    top: -300%
}


/*.joint-port:hover ~.ports{
    opacity: 1;
}*/

[magnet=true]:not(.joint-element):hover ~.port-label{
    fill:#000 ;
}
[magnet=true]:not(.joint-element):hover.port-body{
    transform: translate(210px,-2px) scale(1,1);
}


/* port styling */
/*.available-magnet {
    fill: yellow;
}*/

/*.available-magnet{
    strok:none
}*/

.zoomContainer{
    position: fixed;
    right: 20px;
    bottom: 20px;
    box-sizing: inherit;
    z-index: 3;
    background: #fff;
    box-shadow: 0 1px 5px 0 rgba(32, 33, 36, .28);
    -webkit-box-shadow: 0 1px 5px 0 rgba(32, 33, 36, .28);
    z-index: 3;
    overflow:hidden;
}
.navigator{
    width: 208px;
    height: 104px;
    padding: 7px 5px;
}
#zoomCanvas{
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background: #ff3759;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;

}
#zoomCanvas .paper{
    background: #fff;
    height: 100%;
    box-shadow: none;
    display: inline-block;
    cursor: pointer;
}
.btn-zoom{
    position: fixed;
    padding: 0 6px;
    background: #fff;
    bottom: 20px;
    right: 236px;
    z-index: 3;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 1px 5px 0 rgba(32, 33, 36, .28);
    -webkit-box-shadow: 0 1px 5px 0 rgba(32, 33, 36, .28);
}

.btn-zoom i.fa{
    cursor: pointer;
    font-size: 11px;
    line-height: 34px;
    text-align: center;
    color: #bbbcc1;
    border-bottom: 1px solid #eaeaea;
    box-sizing: inherit;
    vertical-align: middle;


}
.current-view {
    border: 2px solid #31d0c6;
    cursor: move;
    margin: -2px 0 0 -2px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.current-view-control {
    position: absolute;
    border: 2px solid #31d0c6;
    right: 0;
    bottom: 0;
    width: 15px;
    height: 15px;
    cursor: nwse-resize;
    margin: 0 -7px -7px 0;
    border-radius: 50%;
    background: #fff;
}
.main-content{
    left: 235px;
    width: calc(100% - 235px);
    height: 100%;
    z-index: 2;
    position: absolute;
}

.sub-menu li{
    background: transparent !important;
}


#toast-container > .toast-error {
    background-image: none !important;
}
/**
 * ========================================
 * SIDEBAR
 * ========================================
 */
.sidebar {
    position: absolute;
    width: 235px;
    height: 100%;
    transition: all 0.5s ease-in-out;
    padding-top: 20px;
    left: 0;
    z-index: 1;
    background-color: #273646;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    transition: all 0.5s ease-in-out;
}

.sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 15px;
}

.sidebar .fa-chevron-left {
    line-height: 25px;
    font-size: 12px;
}

.sidebar li a, .sidebar li a.collapsed.active {
    display: block;
    padding: 6px 12px;
    color: #bbb;
    border-left: 0px solid #dedede;
    text-decoration: none;
    cursor: pointer;
}

.sidebar li a.active {
    border-left: 5px solid #dedede;
    transition: all 0.5s ease-in-out;
    background: #202E3A;
}

.sidebar li a:hover {
    background-color: #324658 !important;
}

.sidebar li a i {
    padding-left: 6px;
    color: #999;
    font-size: 17px;
}

.sidebar ul li .sub-menu li a {
    position: relative
}

.sidebar .panel {
    margin-bottom: 0 !important;
    background-color: inherit !important;
    box-shadow: none !important;
}

.sidebar ul li .sub-menu li a:hover {
    background-color: #222;
    padding-left: 20px;
    transition: all 0.5s ease-in-out
}

.sub-menu {
    border-left: 5px solid #dedede;
    position: relative;
    -webkit-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
    -moz-box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
    box-shadow: inset 0 4px 4px -2px rgba(0, 0, 0, .15), inset 0 -4px 4px -2px rgba(0, 0, 0, .15);
}

.sub-menu-txt {
    padding-left: 25px;
}

.sidebar li a .nav-label, .sidebar li a .nav-label + span {
    transition: all 0.5s ease-in-out
}

.sidebar.open-menu {
    left: -235px;
    transition: all 0.5s ease-in-out;
}

.menu-expand {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
